// Typography
// Base = 16px
// Scale: Perfect Fourth 1.33
// visualize it: https://type-scale.com/&backgroundcolor=white&fontcolor=%23333&preview=false


$size-1: 6rem;
$size-2: 4.2rem;
$size-3: 3.1rem;
$size-4: 2.36rem;
$size-5: 1.77rem;
$size-6: 1.3rem;
$size-7: 1rem;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
