@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); // Brand Colors
$orange: #AC4500;
$dark: #252525;
$grey: #383838;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$large-pad: 6rem;
$link: #ffff;
// $gap: 170px;
$card-radius: none;
$card-header-shadow: 0;
$family-sans-serif: "Roboto", sans-serif;
$primary: $orange;
$grey-light: $beige-light;
$navbar-item-hover-background-color: $grey; // Do not put this import elsewhere
@import "../node_modules/bulma/bulma.sass";
@mixin rgba-background($hexcolor, $opacity) {
  background-color: rgba($hexcolor, $opacity);
}
// or  background-color: transparentize($dark, .8);

.full-width {
  width: 100%;
}

.fa-chevron-right {
  color: $primary;
}

.primary-divider {
  width: 120px;
  height: 4px;
}

.side-divider {
  width: 90px;
  height: 1px;
}

.footer-link-divider {
  border-left: 1px;
 width: 1px;
 height: 100%;

}

.hero-wrapper {
  background-image: url("../images/photo_kid.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.banner {
  padding-right: 8rem;
  @include until($desktop) {
    padding-right: 0;
  }
}

.hero-banner {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 720px;
  @include until($desktop) {
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;

  }
}

.is-relatve {
  position: relative;

}

.absolute-rocket {
  position: absolute;
  left: 40%;
  top: 80%;

  @include until($desktop) {
    left: 35%;
    top: 120;
  }
}

.pl-extra {
  padding: 3rem 3rem 3rem 8rem;
  @include until($desktop) {
    padding: 1.2rem;
  }
}

.pr-8 {
  padding-right: 8rem;
}

.mt-8 {
  margin-top: 13rem;
}

.mt-16 {
  margin-top: 16rem;

  @include until($desktop) {
    margin-top: 35rem;

  }
}

.feature-card {
  height: 400px;
}

.border-bottom {
  border-top: 2px solid $white;
}

#triangle-up {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 48px solid $light;
}

.footer-links {

  li {
    list-style-type: inherit;
    list-style: inside;
  }

}

.footer-tings {
  color: red;
}
