@charset "utf-8";

@use "_typography.scss" as typography;
@import "_overrides.scss";


// Typography
$sizes: typography.$sizes;

.has-text-weight-extrabold {
  font-weight: typography.$font-weight-extrabold;
}

// Keep import here to use breakpoints in the custom styled below
@import "../node_modules/bulma/bulma.sass";
@mixin rgba-background($hexcolor, $opacity) {
  background-color: rgba($hexcolor, $opacity);
}

.full-width {
  width: 100%;
}

.fa-chevron-right {
  color: $primary;
}

.primary-divider {
  width: 120px;
  height: 4px;
}

.side-divider {
  width: 90px;
  height: 1px;
}

.footer-link-divider {
  border-left: 1px;
 width: 1px;
 height: 100%;

}

.hero-wrapper {
  background-image: url("../images/photo_kid.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.banner {
  padding-right: 8rem;
  clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);

  @include until($desktop) {
    padding-right: 0;
    clip-path: 0;
    clip-path: inherit;
  }
}

.hero-banner {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 720px;
  @include until($desktop) {
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;

  }
}

// @include until($desktop) {
//     $gap: 32000px;
//   }

.is-relatve {
  position: relative;

}

.absolute-rocket {
  position: absolute;
  left: 38%;
  top: -50%;

  @include until($desktop) {
    // left: 40%;
    // top: 75%;
    display: none;
  }
}

.pl-extra {
  padding: 3rem 3rem 3rem 8rem;
  @include until($desktop) {
    padding: 1.2rem;
  }
}

.pr-8 {
  padding-right: 8rem;
}

.mt-8 {
  margin-top: 13rem;
}

.mt-16 {
  margin-top: 16rem;

  @include until($desktop) {
    margin-top: 35rem;

  }
}

.feature-card {
  height: 400px;
}

.border-bottom {
  border-top: 2px solid $white;
}

#triangle-up {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 48px solid $light;
}

.footer-links {

  li {
    list-style-type: inherit;
    list-style: inside;
  }

}

.footer-tings {
  color: red;
}
