@charset "utf-8";
@use "_typography.scss" as typography;
@import "_overrides.scss";

// Typography
$sizes: typography.$sizes;





// Keep import here to use breakpoints in the custom styles below
@import "../node_modules/bulma/bulma.sass";


// Mixin helpers
@mixin rgba-background($hexcolor, $opacity) {
  background-color: rgba($hexcolor, $opacity) !important;
}

 // separate spacing for more flexbility
@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}



// utilities

.has-text-weight-extrabold {
  font-weight: typography.$font-weight-extrabold;
}

.fa-chevron-right {
  color: $primary;
}

.primary-divider {
  width: 120px;
  height: 4px;
}

.side-divider {
  width: 90px;
  height: 1px;
}

.wrapper {
  @include padding(0rem, 12rem, 0rem, 12rem);
  @include until($desktop) {
  @include padding(4rem, 2rem, 1rem, 2rem);
  }
}

.p-extra {
  @include padding(2rem, 6rem, 2rem, 6rem);
  @include until($desktop) {
  @include padding(4rem, 2rem, 1rem, 2rem);
  }
}

.card-section {
  @include padding(6rem, 12rem, 6rem, 12rem);
  @include until($desktop) {
  @include padding(4rem, 2rem, 1rem, 2rem);
  }
}

.footer-link-divider {
  border-left: 1px;
  width: 1px;
  height: 120px;
  margin: 0 3rem 0 3rem;
}

.hero-wrapper {
  background-image: url("../images/photo_kid.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.banner {
  clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
  padding-right: 8rem;
  @include until($desktop) {
    padding-right: 0;
    clip-path: inherit;
  }
}

.hero-banner {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 720px;

  @include until($desktop) {
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;
  }
}

.second-banner {
  width: 65%;
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0% 100%);
  @include until($desktop) {
    padding-right: 0;
    clip-path: inherit;
    width: 100%;
  }
}

.absolute-rocket {
  position: absolute;
  left: 38%;
  top: -50%;
  @include until($desktop) {
    left: 30%;
    top: 80%;
    display: block;
  }
}

.pr-8 {
  @include padding(0, 8rem, 0, 0);
}

.mt-8 {
  margin-top: 13rem;
}

.mt-16 {
  margin-top: 16rem;
  @include until($desktop) {
    margin-top: 35rem;
  }
}

.feature-card {
  height: 400px;
}

.border-bottom {
  border-top: 2px solid $white;
}

.triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 48px solid $light;
  display: block;

  @include until($desktop) {
    display: none;
  }

}

.footer-links {
  li {
    list-style-type: inherit;
    list-style: inside;
  }
}
