@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Brand Colors
$light: #ffff;
$orange: #AC4500;
$dark: #252525;
$grey: #383838;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$large-pad: 6rem;

$family-sans-serif: "Roboto", sans-serif;
$primary: $orange;
$grey-dark: $light;
$grey-light: $beige-light;
$link: $light;
$navbar-item-hover-background-color: $grey;


// Do not put this import elsewhere
@import "../node_modules/bulma/bulma.sass";


.hero-wrapper{
  background-image: url(../images/photo_kid.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  // don't change height to auto
  height: 528px;
  width:100vw;
  background-size: cover;
  position: relative;
}


.hero-banner {
  position: absolute;
  top: 30%;
  width: auto;
  right: 0;
  @include until($desktop) {
    display: flex;
    bottom: 0;
    flex-direction: column;
    color: red;
  }

}

.mb-extra {
  margin-bottom: 12rem;
}

.mb-xl {
  margin-bottom: 6rem;

}

.flip-child {
  order: 3;
}

.c-1 {
  width: 560px;
  margin: 0 auto;
}

.primary-divider {
  width: 120px;
  height: 4px;
  background-color: $primary;
}
