@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Brand Colors
$light: #ffff;
$orange: #AC4500;
$dark: #252525;
$grey: #383838;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$large-pad: 6rem;


$family-sans-serif: "Roboto", sans-serif;
$primary: $orange;
$grey-dark: $light;
$grey-light: $beige-light;
$link: $light;
$navbar-item-hover-background-color: $grey;


// Do not put this import elsewhere
@import "../node_modules/bulma/bulma.sass";

@mixin rgba-background($hexcolor, $opacity) {
  background-color: rgba($hexcolor, $opacity);
}
// or  background-color: transparentize($dark, .8);

.primary-divider {
  width: 120px;
  height: 4px;
  background-color: $primary;
}


.hero-wrapper{
  background-image: url(../images/photo_kid.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width:100vw;
  background-size: cover;
  position: relative;
}

.fa-chevron-right {
  color: $primary;
}

.hero-banner {
  position: absolute;
  right: 0;
  bottom: 30%;
  @include until($desktop) {
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;
  }
}

.absolute-rocket {
  position: absolute;
  left: 40%;
  @include until($desktop) {
  left: 30%;
  }
}


.mb-extra {
  margin-bottom: 12rem;
}

.c-1 {
  margin: 0 auto;
  width: 520px;
  @include until($desktop) {
    width: 85%;
 }
}
